.footer {
    margin-top: auto;
    z-index: 1;
    background-color: $black;
    padding: rem(60) rem(15) rem(50);
}
.footer__copyright {
    color: $gray;
    font-size: rem(14);
    text-align: center;
    @include adp('font-size', 14, 12);

    &:nth-of-type(1) {
        margin-bottom: rem(20);
    }
}